.un {
  font-size: 2rem;
  display: inline-block;
}

.un::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  transition: 300ms;
  background: rgb(255, 255, 255);
}

.un:hover::after {
  width: 100%;
}
